.jumbotron {
    background-image: url(../images/carib-horseback.JPG); 
    background-position: bottom;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    color: rgb(55, 31, 211);
}

body {
 font-size: 1.2rem;
}

.toggle-country, .toggle-converter {
    min-width: 220px;
    width: 100%;
}

.toggle-weather {
    min-width: 180px;
    width: 100%;
}

.card-header {
    background-color: rgb(4, 158, 230); 
    color: white;
}

svg {
    float: right;
}

.dropdown-toggle {
    float:left;
}

.calculator {
    float:left;
}

.spacer {
    clear:both;
}

#convertBaseAmount {
    margin-bottom: 10px;
} 

#currency-one-button, #currency-two-button, 
#exchangeRateCalc, #convertBaseAmount,
#baseCurrencyAmount, #targetCurrencyAmount, #search-term {
    font-size: 1.2rem;
}

#baseCurrencyAmount, #targetCurrencyAmount {
    font-weight: 700;
}

.dropdown {
    display: inline-block;
}

#source-code, #calc-quote, #target-code {
    float:right;
}

#remove-all-itinerary-button {
    float:right;
    margin: 0 12px;
}

#add-itinerary-button {
    margin: 0 12px;
}

#submit-itinerary-button {
    float:left;
}
#hide-itinerary-form-button {
    float:right;
}

.add-margin {
    margin: 12px;
}
