.jumbotron {
    background-image: url(../images/mountains.jpg); 
    background-position: center;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
}

svg {
    float: right;
}
